{{ define "page"}}
    <!DOCTYPE html>
    <html>
    <head>
        <title> {{ .Title }}</title>
    </head>
    <body>
    <h1> {{ .Title }}</h1>
    <p> {{ .Content }} </p>
    {{ if .Posts }}
        {{ template "post" . }}
     {{ end }}
    </body>
    </html>

  {{ end }}

